body{
    background-color: #FFF7F3;
    margin: 0 auto;
    padding: 75px 0px;
    width: 90%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: start;
    margin: auto;
    width: 1280px;
}

.main-title{
    flex: 100%;
    font-size: 40px;
    margin: 0;
}

.menu{
    width: 800px;
    display: flex;
    row-gap: 32px;
    column-gap: 14px;
    flex-wrap: wrap;
}

.menu-dessert{
    display: flex;
    flex: calc(33.333% - 14px);
    flex-direction: column;
    gap: 38px;
    position: relative;
}

.menu-dessert__img{
    position: relative;
}

.menu-dessert__img img{
    width: 250px;
    height: 250px;
    border-radius: 8px;
}

.menu-dessert__action{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
    border: 1px solid #8A7E7A;
    border-radius: 999px;
    gap: 8px;
    height: 44px;
    position: absolute;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 92px;
    width: 60%;
}

.menu-dessert__action img{
    width: 20px;
    height: 20px;
}

.menu-dessert__content{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.menu-dessert__category{
    color: #8A7E7A;
    margin: 0;
}

.menu-dessert__name{
    color: #260F08;
    margin: 0;
}

.menu-dessert__price{
    color: #C73B0F;
    margin: 0;
}

.cart{
    background-color: #ffff;
    border-radius: 12px;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 24px;
    flex-shrink: 0;
}

.cart-item__title{
    color: #B2370D;
    margin: 0px;
}

.cart-item__img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 16px;
    margin: 16px 0px;
}

.cart-item__img img{
    width: 150px;
    height: 150px;
}

.cart-item__description{
    color: #8A7E7A;
    text-align: center;
    margin: 0px;
}
