html{
    font-size: 62.5%;
}

body{
    background-color: #FFF7F3;
    margin: 0 auto;
    padding: 7.5em 0;
    width: 90%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    justify-content: space-between;
    gap: 3.2em;
    align-items: start;
    margin: auto;
}

.main-title{
    flex: 100%;
    font-size: 4em;
    margin: 0;
    padding: 0;
}

.menu{
    display: flex;
    row-gap: 3.2em;
    column-gap: 1.4em;
    flex-wrap: wrap;
}

.menu-dessert{
    display: flex;
    flex: calc(33.333% - 1.4em);
    flex-direction: column;
    gap: 3.8em;
}

.menu-dessert__img{
    position: relative;
}

.menu-dessert__img img{
    width: 100%;
    height: auto; 
    aspect-ratio: 1 / 1; 
    border-radius: .8em;
}

.menu-dessert__action{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
    border: 1px solid #8A7E7A;
    border-radius: 99.9em;
    gap: .8em;
    height: 32px;
    width: 60%;
    position: absolute;
    left: 50%;
    bottom: -4%;
    transform: translateX(-50%);
}

.menu-dessert__action img{
    width: 1.04vw;
    height: 1.99vh;
}

.menu-dessert__purchase{
    font-size: 100%;
    font-weight: 500;
    white-space: nowrap;
}


.menu-dessert__content{
    display: flex;
    flex-direction: column;
    gap: .4em;
}

.menu-dessert__category{
    font-size: 1.4em;
    font-weight: bold;
    color: #8A7E7A;
    margin: 0;
}

.menu-dessert__name{
    font-size: 1.6em;
    font-weight: bold;
    color: #260F08;
    margin: 0;
}

.menu-dessert__price{
    font-size: 1.6em;
    font-weight: bold;
    color: #C73B0F;
    margin: 0;
}

.cart{
    background-color: #ffff;
    border-radius: 1.2em;
    display: flex;
    flex-direction: column;
    padding: 2.4em;
    gap: 2.4em;
    flex-shrink: 0;
    min-width: 30%;
}

.cart-item__title{
    font-size: 3em;
    color: #B2370D;
    margin: 0;
}

.cart-item__img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 1.6em;
    margin: 1.6em 0;
}

.cart-item__img img{
    width: 7.81vw;
    height: 14.85vh;
}

.cart-item__description{
    font-size: 1.6em;
    font-weight: bold;
    color: #8A7E7A;
    text-align: center;
    margin: 0;
}
